#####################################################################
#   This file is not functional yet.
#   tool_probes cause errors when using Beacon.
#####################################################################

[tool_probe_endstop]
crash_mintime: 1.0
crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.'
    PAUSE