#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]
[include mainsail.cfg]
# This file should just be includes for actual config files!

[include macros/*.cfg]
[include config/*.cfg]
[include config/klipper-toolchanger/toolboard_0.cfg]

[save_variables]
filename: ~/printer_data/config/mmu/variables.cfg

