# auto tune overheats the drivers as of 2025-03-05
[autotune_tmc stepper_x]
motor: motor_constants omc-17hs19-2504s-h
sg4_thrs: 125

[autotune_tmc stepper_y]
motor: motor_constants omc-17hs19-2504s-h
sg4_thrs: 135

[autotune_tmc stepper_z]
motor: oukeda-ok42hc40-204a306n84

[autotune_tmc stepper_z1]
motor: oukeda-ok42hc40-204a306n84

[autotune_tmc stepper_z2]
motor: oukeda-ok42hc40-204a306n84

# [autotune_tmc extruder]
# motor: ldo-36sth20-1004ahg