[mcu cartographer] 
canbus_uuid: b0c63c4b4339

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 21.884
verbose: yes


# [safe_z_home]
# home_xy_position: 150,150
# speed: 100.0
# z_hop: 5
# z_hop_speed: 30