[stepper_x]
# connected to Motor 0
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14

rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 80
homing_retract_dist: 0
position_min: -4
position_max: 300
position_endstop: 300


[stepper_y]
# connected to Motor 1
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15

rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200

endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 80
homing_retract_dist: 0
position_min: 0
position_max: 310
position_endstop: 310


[tmc2209 stepper_x]
uart_pin: PC4
interpolate: true
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 135


[tmc2209 stepper_y]
uart_pin: PD11
interpolate: true
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 135